.active {
    color: green;
}

.capitalize {
    text-transform: capitalize;
}

.deactivate {
    color: red;
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}